body { background-color: #000; color: #fff; }
.card { background-color: #111; border: none; border-radius: 1rem; }
button:focus { box-shadow: none !important; }
#desktopNav a:hover { color: #0d6efd !important; }
